body {
	background-color: #ade6bb;
}

.textbox {
	background-color: #afeeee;
	border-color: #afcfee;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	font-family: inconsolata, monospace;
}

.button  {
	font-size: 14px;
	border-radius: 6px;
	background-color: #76d5cb;
	color: black;
	border: 2px solid black;
	padding: 10px;
	width: 100px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #3cc2b5;
}
