/* Provides break at top of the webpage. */
.pageblock {
	height: 50px;
	width: 100%;
}

/* Main options for whole site */
.main {
	width: 960px;
	margin: auto;
	display: table;
}

/* Settings */
.boxshadow {
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
}

.digitaleffect {
		background: #CFE5E8 url("images/digitaleffect.gif") repeat scroll 0% 0%;
}

body {
	font-family: arial;
	background-color: #A5ABBB;
	color: #daefe3;
}

h1 {
	font-size: 1.3em;
	font-weight:bold;
}

/* Header */

#title-bar {
	float: left;
	width: 248px;
	height: 148px;
	position: relative;
	border-radius: 8px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	background: #324A4A;
}

#location-bar {
	margin-left: 32px;
	margin-bottom: 25px;
	float: left;
	width: 675px;
	height: 150px;
	position: relative;
	border-radius: 4px;
	background: rgb(171, 198, 198) url("images/digitaleffect.gif") repeat scroll 0% 0%;
}

.title {
	margin-top: 60px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px;
	color: rgb(218, 239, 227);
}

.location {
	margin-left: 20px;
	margin-top: 100px;
	color: black;
}

/* Main Stuff */

#game {
	clear: left;
}

.game {
	background-color: #3C5757;
	border-radius: 8px;
	position: relative;
}

#sidebar-container {
	width: 250px;
	height: auto;
	float: left;
}

#sidebar {
	width: 250px;
	height: 100px;
	margin-bottom: 25px;
}

#sidebar2 {
	width: 250px;
	height: 400px;
	margin-bottom: 25px;
}

#story {
	padding: 20px;
	margin-left: 285px;
	width: 635px;
	height: 610px;
	margin-top: 25px;
	float: middle;
}

/*Storylet*/

#intro {
	width: 640px;
	height: 156px;
}

#imgcontainer {
	padding: 8px;
	border-radius: 10px 0 10px 0;
	width: 102px;
	height: 132px;
	border-width: 1px;
	border-color: #5ABCBA;
	border-style: solid;
	background: #CFE5E8
}

#textbox {
	font-weight: bold;
	margin-bottom: 0.5em;
}

#branch1 {
	margin-top: 15px;
	background-color:rgba(188,218,218,0.35);
	width: 635px;
	height: 104px;
	border-radius: 10px 10px 10px 10px;
}

/*image+textbox+button*/
