/* Provides break at top of the webpage. */
.pageblock {
	height: 50px;
	width: 100%;
}

/* Main options for whole site */
.main {
	width: 960px;
	margin: auto;
}

/* Settings */
.boxshadow {
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
}

body {
	font-family: arial;
	background-color: #A5ABBB;
}

h1 {
	font-size: 1.3em;
	font-weight:bold;
}

/* Header */

#title-bar {
	float: left;
	width: 248px;
	height: 148px;
	position: relative;
	border-radius: 8px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	background: #324A4A;
}

#location-bar {
	margin-left: 32px;
	float: left;
	width: 675px;
	height: 150px;
	position: relative;
	border-radius: 4px;
	background: rgb(171, 198, 198) url("images/digitaleffect.gif") repeat scroll 0% 0%;
}

.title {
	margin-top: 60px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 8px;
	color: rgb(218, 239, 227);
}

.location {
	margin-left: 20px;
	margin-top: 100px;
	color: black;
}

/* Main Stuff */

#game {
	clear: left;
}

.game {
	background-color: #3C5757;
	margin-top: 25px;
	border-radius: 8px;
	position: relative;
	float: left
}

#sidebar-container {
	width: 250px;
	height: auto;
}

#sidebar {
	width: 250px;
	height: 300px;

}

#content {
	margin-left: 32px;
	width: 675px;
	height: 620px;
	background-color: #3C5757;
	margin-top: 25px;
	border-radius: 8px;
	position: relative;
	float: middle;

}
